# 阿里云OSS配置
ALIYUN_ACCESS_KEY_ID=
ALIYUN_ACCESS_KEY_SECRET=
ALIYUN_OSS_ENDPOINT=oss-cn-hangzhou.aliyuncs.com
ALIYUN_OSS_BUCKET=
ALIYUN_OSS_PATH_PREFIX=

# 七牛云配置
QINIU_REGION=
QINIU_BUCKET=
QINIU_ACCESS_KEY=
QINIU_SECRET_KEY=
